* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體 Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
}

:root {
    --move: 0px;
    --MoreNews_container_height: 120px;
}

.ToTop {
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 3em;
    height: 3em;

    box-shadow: 0 0 0.4em #fff;
    background-color: #fff;
    border: 0.1px solid rgba(51, 51, 51, 0.2);
    border-radius: 50%;
    opacity: 0.9;

    transform: rotate(180deg);
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 998;
}

@media(max-width:900px) {
    .ToTop {
        right: 20px;
        bottom: 20px;
    }
}


.ToBottom {
    position: absolute;
    top: 80%;
    left: 50%;

    width: 60px;
    height: 50px;

    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.8);
    background-image: url('../images/down-arrow.png');
    background-size: cover;

    transform: translateX(-50%);
    transition: all .3s;
    z-index: 2;
}

.ToBottom:hover {
    transform: translate(-50%, 10px);
}

.sech1 {
    font-size: 3.4vw;
    color: rgb(100, 100, 100);
    letter-spacing: 4px;
    font-weight: 900;
    text-align: center;
    padding-top: 3.7rem;
}

/* Nav Start */

.nav__class {
    width: 100%;

    position: fixed;
    padding: 1% 6%;
    display: flex;

    color: #333;
    background-color: #fff;
    opacity: 0.8;
    box-shadow: 1px 1px 10px black;
    font-weight: bold;
    z-index: 999;
    transform: translateY(0);
}

.nav_active {
    transform: translateY(-100%);
}

.nav-item {
    position: relative;
    overflow: hidden;
    transition: .8s all;
}

.nav-item::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 50%;
    top: 50%;
    right: 0;
    background: rgba(138, 255, 181, 0.8);
    transform: translate(100%, -50%);
    transition: .4s all;
    z-index: -1;
}

.nav-item:hover {
    border-radius: 4px;
    box-shadow: 3px 3px 10px#0fd9b7cc;
}

.nav-item:hover::before {
    transform: translate(7%, -50%);
}

.nav-left {
    font-size: 24px;
}

.nav-left a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.7;
    transition: .5s all;
}

.nav-left a:hover {
    opacity: 0.95;
}



/* Nav End */
/* carousel Start */

.carousel h3 {
    text-shadow: 3px 3px 5px black;
    font-size: 2.7vw;
    font-weight: bold;
}

.carousel p {
    text-shadow: 3px 3px 7px black;
    line-height: 42px;
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-caption {
    left: 65%;
    bottom: 12rem;
}

/* slide Start  */

#services {
    background: #c2c3ad;
}

#services .slide {
    position: relative;
    width: 75%;
    margin: auto;

    display: flex;
    justify-content: center;
}

@media (min-width: 768px) {
    #services {
        height: 80vh;
    }

    #services .slide {
        height: calc(500px + 4rem);
    }
}

#services .slide .slide-control {
    display: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 99;
    width: 100%;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0);
}

@media (min-width: 768px) {
    #services .slide .slide-control {
        display: flex;
    }
}

#services .slide .slide-prev,
#services .slide .slide-next,
#services .slide .slide-back {
    opacity: .8;
    transition: .5s;
    cursor: pointer;
    padding: 10%;
}

#services .slide .slide-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#services .slide .slide-project {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    padding: 2rem;

    opacity: .95;
    background-color: #fff;
    border-radius: 8px;
    transition: .5s;
}


#services .slide .slide-project .slide-header {
    padding: 2rem 0 0;
}

#services .slide .slide-project .slide-header>h1 {
    font-weight: 900;
}

#services .slide .slide-project .slide-header>h3 {
    color: #fff;
}

#services .slide .slide-project .slide-body {
    text-align: justify;
    line-height: 2;
    font-size: 1.3rem;
}


@media (min-width: 768px) {
    #services .slide .slide-project {
        width: 450px;
    }

    #services .slide .slide-project {
        height: 100%;
        position: absolute;
    }

    #services .slide .slide-project.show {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 5;
    }

    #services .slide .slide-project.prev {
        top: 50%;
        left: 5%;
        transform: translateY(-50%) scale(0.75);
        z-index: 4;
        opacity: .5;
    }

    #services .slide .slide-project.next {
        top: 50%;
        left: 95%;
        transform: translate(-100%, -50%) scale(0.75);
        z-index: 4;
        opacity: .5;
    }

    #services .slide .slide-project.back {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(0.75);
        z-index: 3;
        opacity: .5;
    }
}

/* slide End  */

/* Computer Start */


#carbonComputer .Computer_container {
    height: 100%;
    margin: auto;
    padding-top: 6rem;
}

@media(min-width:1000px) {
    #carbonComputer {
        height: 85vh;
    }

    #carbonComputer .Computer_container {
        width: 75%;
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}

#carbonComputer .Computer_container>div {
    margin: 0 auto;
    padding: 1.2rem;

}

#carbonComputer .sech1 {
    padding: 0;
}

#carbonComputer .select-computer {
    display: flex;
}

#carbonComputer .select-tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.3rem;
    margin-right: 1.3rem;
    cursor: pointer;
    transition: .1s;
}

#carbonComputer .select-tag:hover {
    transform: scale(1.1);
}

#carbonComputer .select-tag img {
    width: 25px;
}

@media(min-width:900px) {
    #carbonComputer .select-tag img {
        width: 50px;
    }
}

#carbonComputer .Computer_table {
    height: 30rem;
    overflow: auto;
}

#carbonComputer .computer_tr {
    display: grid;
    padding: 1.2rem;
    border: 2px solid #ddd;
    margin: 5px auto;
    grid-template-columns: 1fr 2fr 1fr;
}

#carbonComputer .computer_tr div {
    margin: auto;
    font-size: 1.5rem;
    font-weight: bold;
    margin-left: 10px;
}

#carbonComputer .computer_tr input[type='text'] {
    margin: auto;
    width: 15rem;
    height: 2.2rem;
    border-radius: 4px;
    border: 2px solid #ccc;

    font-size: 1.2rem;
}

#carbonComputer .computer_tr input[type='text']::placeholder {
    text-align: center;
}

/* Computer End */

/* ShoppingCart_container Start */
#ShoppingCart {
    background: #ffe7e0;
}

#ShoppingCart h1 {
    /* background: #fff; */
}

.select_container {
    width: 100%;
    background: #ffe7e0;
    display: flex;
    justify-content: center;
    margin: auto;
    padding: 1.5% 0;
}

.select_container input[type='radio'] {
    transform: scale(0);
}

.select_container .select_radio {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    background: #ffc629;
    border-radius: 4px;
    margin: 0 10px;
    cursor: pointer;
}

@media(min-width:1000px) {
    .select_container .select_radio {
        width: 160px;
    }
}

.select_container .select_on {
    background: #ff9500;
}

#ShoppingCart .ShoppingCart_container {
    width: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;
    background: #ffd0c5;
    position: relative;
    padding:25px;
}

#ShoppingCart .center {
    width: 1000px;
    display: flex;
    flex-wrap: wrap;
}

#ShoppingCart .ShoppingCart_box {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;

    background: #fff;
    border-radius: 10px;

    height: 400px;

    margin: 10px;
    font-size: 22px;
    overflow: hidden;
    transition: all .5s;
}

#ShoppingCart .ShoppingCart_box img {
    width: 300px;
    height: 400px;
    border-radius: 10px;
    object-fit: cover;
    transition: .3s all;
}

#ShoppingCart .ShoppingCart_box:hover img {
    height: 200px;
}

#ShoppingCart .product-name {
    position: absolute;
    bottom: 0;
    font-weight: 600;
    background: #fff;
    border-radius: 3px;
    padding: 1% 4%;
}

#ShoppingCart .buy {
    display: flex;
    justify-content: center;
}

#ShoppingCart .shoppingCart_hidden {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: center;

    top: 400px;
    transition: all .45s;
    padding: 0.8rem;
}

#ShoppingCart .ShoppingCart_box:hover .shoppingCart_hidden {
    top: 200px;
}

#ShoppingCart .amount {
    border: 2px solid #ddd;
    border-radius: 4px;

    width: 100px;
    height: 35px;

    text-align: center;
    margin: 0 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#ShoppingCart .price {
    color: tomato;
    font-weight: bold;
}

#ShoppingCart .sum_box {
    padding: 1%;

    width: 70%;
    height: 90%;

    display: flex;
    align-items: center;
    flex-direction: column;

    font-size: 20px;
    font-weight: bold;
    color: #ff9a43;
    border: 3px solid #ff9a43;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    margin: auto;
    transition: .5s all;

    overflow: auto;
    z-index: 4;
}


#ShoppingCart .sum_box img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: 6px;
    object-fit: cover;
}

.shopingCart_toggle {
    display: none;
}

@media(min-width:1000px) {
    #ShoppingCart .sum_box {
        position: fixed;
        top: 5rem;
        left: -30%;
        width: 30%;
    }

    #ShoppingCart .sum_box_active {
        left: 0;
    }

    .shopingCart_toggle {
        position: fixed;
        top: 50%;
        left: 0;
        display: block;

        color: #333;
        font-size: 45px;

        cursor: pointer;
        z-index: 998;
        transition: all .5s;
        animation: 3s shopingCart_toggle infinite;
    }

    @keyframes shopingCart_toggle {
        50% {
            transform: translateX(30px);
        }
    }

    .shopingCart_toggle_active {
        left: 25%;
        animation: none;
    }

    #ShoppingCart .sum_box img {
        width: 100px;
        height: 100px;
    }

}

/* ShoppingCart_container End */
/* CharInformation Start */
#CharInformation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

#CharInformation section{
    padding:25px;
    width: 100%;
    margin: 0 auto;
    
}
/* CharInformation End */

/* chart_section Start */

@media (max-width:1000px) {
    #Chart {
        width: 100%;
    }
}

/* chart_section End */


/* information Start */
.information-container{
    padding:50px;
}

.informat>div{
    line-height: 2.5rem;
}

.informat>div:nth-child(1){
    font-weight: bold;
    font-size: 1.5rem;
    border-left:5px solid var(--bs-yellow);
    padding-left: 0.7rem;
}

/* information End */

/* test Start */

#test {
    width: 100%;
    height: 100vh;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
}

.test_container {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../images/test.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.test_container::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.35);
}

#test .test_box {
    position: absolute;
    width: 95%;
    height: 80%;

    border-radius: 20px;
    padding: 25px;
    font-size: 20px;

    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    transition: 1s all;
    transform-origin: left bottom;

    display: flex;
    flex-direction: column;

    background: url('../images/test-box.jpg');
    background-size: cover;
}

#test .test_box::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.97);
    z-index: -1;
}

.test_result {
    position: absolute;

    font-size: 80px;
    font-weight: 850;
    color: #00ffd5cf;
    z-index: 3;
}

@media(min-width:900px) {
    #test .test_box {
        width: 500px;
    }

    .test_result {
        margin-left: 15%;
    }
}

.test_title {
    font-size: 22px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 10px;
}

#test label>div {
    display: flex;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

@media(min-width:900px) {
    #test label>div {
        padding: 0;
    }

    .test_title {
        padding: 4px;
        margin: 1rem 0;

    }
}

#test label>div:hover {
    outline: 1px solid #39f;
}

#test label span {
    width: 30px;
    height: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}

input[type='radio'] {
    -webkit-appearance: none;
}

.test_flag {
    border-radius: 20%;
    color: #fff;
    background-color: #0fd9b6;
    outline: 1px solid #39f;
    outline-offset: -2px;
    box-shadow: 0 0 10px 0 #0fd9b6;
}


.t0 {
    z-index: 9;
    transform: rotate(0) translateY(0);
}

.t1 {
    z-index: 8;
    transform: rotate(5deg) translateY(-30px);
}

.t2 {
    z-index: 7;
    transform: rotate(10deg) translateY(-60px);
}

.t3 {
    z-index: 6;
    transform: rotate(15deg) translateY(-90px);
}

.t4 {
    z-index: 5;
    transform: rotate(20deg) translateY(-120px);
}

.t5 {
    z-index: 4;
    transform: rotate(25deg) translateY(-150px);
}


#test .btn {
    position: absolute;
    right: 10%;
    bottom: 5%;
}

/* test End */


/* footer Start */
footer {
    display: flex;
    justify-content: start;
    align-items: center;

    width: 100%;
    height: 100vh;
    background-image: url(../images/footer.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
    position: relative;
}

footer::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}


@media (min-width:1024px) {
    footer::before {
        content: '';
        position: absolute;
        top: -400px;
        left: -120px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 150rem 0 0 150rem;
        border-color: transparent transparent transparent #0000006d;
    }
}

footer .footer-container {
    width: 80%;
    height: 90vh;
    margin: 0 auto;
    z-index: 3;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
}

footer .footer-left,
footer .footer-right {
    padding: 10%;
}

footer .footer-right {
    display: grid;
    grid-template-rows: 1fr 3fr;
}

.footer-right-bottom {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: 0.1fr;
    align-items: center;
}

.footer-right-bottom .title {
    grid-column: 1/4;
}

footer .btn-link {
    align-items: start;
    display: flex;
    color: rgb(151, 244, 58);
    font-weight: bolder;
    font-size: 16px;
}

footer .title {
    font-size: 22px;
    font-weight: bold;
    padding-left: 0.7rem;
    border-left: 3px solid rgb(255, 255, 255);
}

@media (max-width:900px) {
    footer .footer-container {
        width: 100%;
        padding: 0;
    }
}

/* footer End */
/* 跳出視窗內容 Start */


#MoreNews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MoreNews_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: all .3s;
    outline: 3px solid #fff;
    outline-offset: -1.5px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);

}

.MoreNews_container img {
    height: var(--MoreNews_container_height);
    object-fit: cover;
}

.top_title_modal {
    outline: 0;
    margin-top: 10px;
    transform: translateY(var(--move)) scale(1.25);
}

.MoreNews_content {
    overflow: auto;
    position: absolute;
    top: -400px;
    padding: 25px;

    width: 100%;
    height: 55vh;

    background: #444;
    color: #fff;

    opacity: 0;
    transform: scale(0);
    transition: all .3s;

    text-shadow: 2px 2px 7px black;
    line-height: 32px;
    font-size: 1rem;
}

.MoreNews_content_active {
    z-index: 1;
    transform: scale(1) translateY(540px);
}

.modal-body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    height: 70vh;
    overflow: hidden;
}

/* 跳出視窗內容 End */


@media(max-width:900px) {
    .top_title_modal {
        transform: translateY(var(--move)) scale(1.15);
    }

    .ToBottom {
        width: 40px;
        height: 30px;
        top: 90%;
    }
}