* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體 sans-serif;
    box-sizing: border-box;

}

:root {
    --move: 0px;
    --MoreNews_container_height: 120px;
}

.ToTop {
    position: fixed;
    bottom: 50px;
    right: 50px;
    width: 4em;
    height: 4em;

    box-shadow: 0 0 0.4em #fff;
    background-color: #fff;
    border-radius: 50%;
    opacity: 0.9;

    transform: rotate(180deg);
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 999;
}

.ToBottom {
    position: absolute;
    top: 80%;
    left: 50%;
    width: 55px;
    height: 50px;

    border: 1px solid #fff;
    border-radius: 10px;
    background-color: rgb(255, 255, 255, 0.5);
    background-image: url('../images/down-arrow.png');
    background-repeat: no-repeat;
    background-size: cover;

    transform: translateX(-50%);
    transition: all .3s;
    z-index: 2;
}

.ToBottom:hover {
    transform: translateX(-50%) translateY(10px);
}

/* Nav Start */

.nav__class {
    width: 100%;
    min-height: 20px;

    position: fixed;
    padding: 1% 6%;
    display: flex;

    color: #333;
    background-color: #fff;
    opacity: 0.7;
    box-shadow: 1px 1px 10px black;
    font-weight: bold;
    z-index: 3;
}

.nav-left {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.7;
    transition: .5s all;

}

.nav-left a:hover {
    opacity: 0.95;
}

/* Nav End */
/* carousel Start */

.carousel h3 {
    text-shadow: 3px 3px 5px black;
    font-size: 2.7vw;
    font-weight: bold;
}

.carousel p {
    text-shadow: 3px 3px 7px black;
    line-height: 42px;
    font-size: 1.5rem;
    font-weight: bold;
}

.carousel-caption {
    right: 0;
    left: 40%;
    bottom: 9.25rem;
}

/* Main Content Start  */

.main-section {
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #498351;
}

.main-article {
    color: #fff;
    padding: 90px 15px;
    width: 70%;
    background: #41744a;

}

.main-article h3 {
    border: 3px solid #00ea02;
    width: 100%;
    height: 50px;
    border-radius: 0 10px 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-article p {
    line-height: 30px;
    font-size: 16px;
    text-shadow: 0.1em 0.1em 0.3em black;
}

/* Main Content End  */

/* ShoppingCart_container Start */
#ShoppingCart {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.ShoppingCart_container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ShoppingCart_box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    border: 1px solid #ddd;
    border-radius: 6px;

    width: auto;
    height: 50%;

    padding: 20px;
    margin: 10px;
    font-size: 22px;

}

.ShoppingCart_box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.buy {
    display: flex;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;

}

.amount {
    border: 2px solid #ddd;
    border-radius: 6px;
    width: 100px;
    height: 35px;
    text-align: center;
}

.Btn {
    width: 45px;
    height: 35px;
    background-color: #00ea02;
    color: #fff;
    border: 0;
    border-radius: 4px;
    margin: 5px;
    font-weight: bolder;
    font-size: 18px;
}

.price {
    color: tomato;
}

.sum_box {
    border-radius: 4px;
    color: #fff;
    width: 100%;
    height: auto;
    background-color: #00d882;

    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    

    padding: 2% 6%;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;


}
.sum_box p{
    margin:auto;
}

.sum_box .Btn {
    width: 100px;
    border: 4px solid #fff;
    height: 50px;
}

/* ShoppingCart_container End */


/* chart_section Start */
.chart_section {
    width: 750px;
    margin: auto;
    height: 60%;
}

/* chart_section End */


/* footer Start */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;

    padding: 2% 6%;
    background: black;
    color: #fff;


    outline: 2px solid #00ea02;
    outline-offset: -2px;
}

.footer_1 {
    width: 50%;
    text-align: start;
}

.footer_2 {
    text-align: end;
    width: 50%;

}

/* footer End */

/* 跳出視窗內容 Start */


#MoreNews {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.MoreNews_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    transition: all .3s;
    outline: 3px solid #fff;
    outline-offset: -1.5px;
    border-radius: 3px;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);

}

.MoreNews_container img {
    height: var(--MoreNews_container_height);
    object-fit: cover;
}

.top_title_modal {
    outline: 0;
    margin-top: 10px;
    transform: translateY(var(--move)) scale(1.25);
}

.MoreNews_content {
    overflow: auto;
    position: absolute;
    top: -400px;
    padding: 25px;

    width: 100%;
    height: 55vh;

    background: #444;
    color: #fff;

    opacity: 0;
    transform: scale(0);
    transition: all .3s;


    text-shadow: 2px 2px 7px black;
    line-height: 32px;
    font-size: 1rem;

}

.MoreNews_content_active {
    z-index: 1;
    transform: scale(1) translateY(540px);
}

.modal-body {
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 0;
    height: 70vh;
    overflow: hidden;
}

/* 跳出視窗內容 End */


@media(max-height:900px) {
    .top_title_modal {
        transform: translateY(var(--move)) scale(1.15);
    }

    .ToBottom {
        width: 40px;
        height: 30px;
        top: 90%;
    }
}