* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;

}

.button {

    position: relative;
    padding: 10px 30px;
    margin: 0 15px;
    color: #21ebff;
    text-decoration: none;
    /*全部變大寫 */
    text-transform: uppercase;
    overflow: hidden;
    font-size: 20px;
    transition: 1s;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0003);
}

.button:hover {
    background: #21ebff;
    color: #111;
    box-shadow: 0 0 50px #21ebff;
    transition-delay: 0.05s;
}

.button:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid #21ebff;
    border-left: 2px solid #21ebff;
    transition: 1s;

}

.button:hover:before {


    width: 100%;
    height: 100%;
}


.button:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid #21ebff;
    border-right: 2px solid #21ebff;
    transition: 1s;
}


.button:hover:after {
    width: 100%;
    height: 100%;
}