<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- bootstrap JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
        crossorigin="anonymous"></script>
    <!-- bootstrap CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <!-- bootstrap icon -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <!-- aos.js -->
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.0.1/chart.umd.js"
        integrity="sha512-gQhCDsnnnUfaRzD8k1L5llCCV6O9HN09zClIzzeJ8OJ9MpGmIlCxm+pdCkqTwqJ4JcjbojFr79rl2F1mzcoLMQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- Vue3 -->
    <script src="https://unpkg.com/vue@next"></script>

    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" href="./images/logo.png">
    <title>碳棄</title>
</head>

<body>
    <div id="app">

        <a href="#Top" class="ToTop"></a>
        <div id='Top'></div>


        <!-- Nav Start -->
        <nav class="navbar navbar-expand-lg nav__class">
            <div class="container-fluid">

                <!-- LOGO -->
                <div class="nav-left" data-aos="fade-right">
                    <a href="index.html">「碳」棄</a>
                </div>

                <!-- 第一部份:手機版 -->
                <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#linkbar">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- 第二部份:電腦版 -->

                <div class="collapse navbar-collapse " id="linkbar">
                    <ul class="navbar-nav" style="margin-left:auto; font-size: 18px;" data-aos="fade-left">
                        <li class="nav-item">
                            <a href="#main" class="nav-link">低碳</a>
                        </li>
                        <li class="nav-item">
                            <a href="#carbonComputer" class="nav-link">排碳計算機</a>
                        </li>
                        <li class="nav-item">
                            <a href="#ShoppingCart" class="nav-link">線上訂購服務</a>
                        </li>
                        <li class="nav-item">
                            <a href="#Chart" class="nav-link">熱銷推薦</a>
                        </li>
                        <li class="nav-item">
                            <a href="#services" class="nav-link">餐盒小故事</a>
                        </li>
                        <li class="nav-item">
                            <a href="#footer" class="nav-link">聯絡我們</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="nav-link" data-bs-toggle="modal"
                                data-bs-target="#MoreNews_modal">更多資訊</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Nav End -->
        <!-- Carousel Start -->


        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel" data-aos-duration='1000'>
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0"
                    class="active"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="./images/carousel1.jpg" class="d-block w-100" alt="carousel1.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 data-aos='fade-right' class="test1">2050淨零碳排不僅是全球的目標</h3>
                        <p data-aos='fade-left'>淨零軌跡與行動路徑探討生活轉型</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./images/carousel2.jpg" class="d-block w-100" alt="carousel2.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 data-aos='fade-right'>減碳「酷」地球</h3>
                        <p data-aos='fade-left'> 行政院環境保護署於2009年12月發布碳標籤圖示<br>台灣成為全世界第11個推動碳標籤的國家</p>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="./images/carousel3.jpg" class="d-block w-100" alt="carousel3.jpg">
                    <div class="carousel-caption d-none d-md-block">
                        <h3 data-aos='fade-right'>每人平均碳排放量為10.77公噸</h3>
                        <p data-aos='fade-left'>我國2019年能源使用CO2排放總量為256.0百萬公噸<br>占全球排放總量的0.76 %；每人平均排放量為10.77公噸。</p>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>
            <button class="carousel-control-next" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button>
            <a href="#main" class="ToBottom"></a>
        </div>
        <!-- Carousel End -->
        <!-- Main Content Start -->
        <section class="main-section" id='main'>
            <article class="main-article">
                <h3 data-aos="fade-down-right">低碳</h3>
                <hr>
                <p data-aos="fade-up-left">
                    低碳飲食是讓碳的排放量減少，也可稱為低醣飲食，意思就是指<b>「減少飲食中的碳水化合物含量，增加好的油脂和蛋白質」</b>，而我們可以選用當地的食材，不做加工，來增加當季和在地蔬果的攝取，不僅能減少碳排放量，還能增進健康也環保。
                </p>
            </article>
            <article class="main-article">
                <h3 data-aos="fade-down-right">淨零排放(Net Zero)</h3>
                <hr>
                <p data-aos="fade-up-left">
                    又稱為碳中和，國家、企業、組織或個人等等在一定時間內透過各種節能減碳策略（例如負碳技術、森林碳匯、使用低碳能源取代化石燃料……等等）或購買其他企業碳權，以抵消自身產生的二氧化碳排放量，實現正負抵消，達到相對「零排放」。（新創圓夢網，2022）
                </p>
            </article>
            <article class="main-article">
                <h3 data-aos="fade-down-right">節能減碳</h3>
                <hr>
                <p data-aos="fade-up-left">
                    節能減碳意指藉由節約能源、減少碳排放的方式保護地球資源，進而降低對地球的傷害（配客嘉，2021）。隨著全球暖化的氣候變遷，越來越多的生態系正陸續消失，我們因該學習節能減碳的小技巧來保護地球，譬如像隨手關燈、資源分類做好、自備購物袋減少塑膠袋垃圾的產生等，為地球盡一步節能減碳，給我們後代一個乾淨又健康的地球。
                </p>
            </article>
            <article class="main-article">
                <h3 data-aos="fade-down-right">碳足跡標籤</h3>
                <hr>
                <p data-aos="fade-up-left">
                    又稱碳標籤或碳排放標籤。主要以標示公司、生產製程、產品及個人的碳排放量，其意思指一個產品從原料取得，經過工廠製造、配送銷售、消費者使用到最後廢棄回收等生命週期各階段所產生的溫室氣體，經過換算成二氧化碳當量的總和。（產品碳足跡資訊網，2022）
                </p>
            </article>
        </section>
        <!-- 排碳計算機 Start -->
        <section id="carbonComputer" data-aos="zoom-in">
            <div class="Computer_container">
                <h1><i class="bi bi-calculator"></i>排碳計算機</h1>
                <div class="Computer_Grid">
                    <div class="Computer_img" @click="computer_now = 'first'">
                        <img src="./images/六大食物分類_01_全穀雜糧類.jpg" alt="六大食物分類_01_全穀雜糧類.jpg">
                    </div>
                    <div class="Computer_img" @click="computer_now = 'second'">
                        <img src="./images/六大食物分類_02_豆魚蛋肉類.jpg" alt="六大食物分類_02_豆魚蛋肉類.jpg">
                    </div>
                    <div class="Computer_img" @click="computer_now = 'third'">
                        <img src="./images/六大食物分類_03_蔬菜類.jpg" alt="六大食物分類_03_蔬菜類.jpg">
                    </div>
                    <div class="Computer_img" @click="computer_now = 'fourth'">
                        <img src="./images/六大食物分類_04_水果類.jpg" alt="六大食物分類_04_水果類.jpg">
                    </div>
                    <div class="Computer_img" @click="computer_now = 'fifth'">
                        <img src="./images/六大食物分類_05_乳品類.jpg" alt="六大食物分類_05_乳品類.jpg">
                    </div>
                    <div class="Computer_img" @click="computer_now = 'sixth'">
                        <img src="./images/六大食物分類_06_油脂與堅果種子類.jpg" alt="六大食物分類_06_油脂與堅果種子類.jpg">
                    </div>
                </div>
                <div class="Computer_sum">
                    <h3>總排碳量：{{carbon_sum}}g</h3>
                </div>
                <div class="Computer_table">
                    <template v-for="computer in computers">
                        <template v-if="computer.class == computer_now">
                            <div class="computer_tr" :style="'background:'+computer.bg">
                                <h4 class="computer_td_1">{{computer.name}}</h4>
                                <input type="text" class="form-control computer_td_2" v-model="computer.amount"
                                    placeholder="請輸入公克數">
                                <div class="computer_td_3">1g排出{{computer.carbon}}g</div>
                            </div>
                        </template>
                    </template>

                </div>

            </div>
        </section>
        <!-- 排碳計算機 End -->
        <!-- 購物車 Start -->
        <section id="ShoppingCart">
            <h1 data-aos="fade-right"><img src="./images/豬會飛LOGO.jpg" class="icon">豬會飛 <span
                    style="color:#ff7b00">線上訂購</span></h1>
            <div class="select_container" data-aos="filp-up">
                <input type="radio" id="r1" name="drone" value="全部" v-model="select_value" checked>
                <div>
                    <label for="r1" class="select_radio">全部</label>
                </div>
                <input type="radio" id="r2" name="drone" value="減脂系列" v-model="select_value">
                <div>
                    <label for="r2" class="select_radio">減脂系列</label>
                </div>
                <input type="radio" id="r3" name="drone" value="增肌系列" v-model="select_value">
                <div>
                    <label for="r3" class="select_radio">增肌系列</label>
                </div>
                <input type="radio" id="r4" name="drone" value="豪華系列" v-model="select_value">
                <div>
                    <label for="r4" class="select_radio">豪華系列</label>
                </div>
            </div>
            <div class="ShoppingCart_bg">
                <div class="ShoppingCart_container">
                    <template v-for="product in products">
                        <div v-if="product.product_class == select_value || select_value == '全部'"
                            class="ShoppingCart_box">
                            <img :src="product.img" alt="">
                            <p class="product-name">{{product.name}}</p>
                            <div class="shoppingCart_hidden">
                                <p class="carbn">{{'碳排量:' + product.carbon_content}}</p>
                                <p class="price">{{'$' + product.price}}</p>
                                <div class="buy">
                                    <button @click="fs_updateValue(product,product.amount - 1)"
                                        class="btn btn-outline-warning">-</button>
                                    <input type="text" class="amount" v-model='product.amount' value="product.amount">

                                    <button @click="fs_updateValue(product,product.amount + 1)"
                                        class="btn btn-outline-warning">+</button>
                                </div>
                            </div>
                        </div>
                    </template>
                </div>
            </div>

            <p>
                <a @click="fs_shopingCartToggle" class="shopingCart_toggle" v-html="shopingCart_toggle_img"></a>
            <form action="index.html" method="get">
                <div class="sum_box">
                    <h3>購物車</h3>
                    <p class="product_content">
                    <div v-if="Lsum == 0">您目前還未訂購任何商品</div>
                    <template v-for="product in products">
                        <template v-if="product.amount > 0">
                            <p>
                                <img :src="product.img">{{product.name +' '+ product.amount + '盒'}}　
                                <button @click="fs_updateValue(product,product.amount - product.amount)"
                                    class="btn btn-outline-danger">取消</button>
                                <input type="hidden" :name="product.name" :value="product.amount">
                            </p>
                        </template>
                    </template>
                    <div v-if="Lsum != 0">
                            姓名*
                            <input type="text" name="name" class='form-control ' placeholder="請輸入姓名" required>
                            地址*
                            <input type="text" name="address" class='form-control ' placeholder="請輸入地址" required>
                            備註
                            <input type="text" name="content" class='form-control'>

                    </div>
                    </p>
                    <p>
                        {{'總額:$'+Lsum+'元'}}
                    </p>
                    <p style="margin:auto;">
                        <input v-if='Lsum != 0' type="submit" value="送出" class="btn btn-warning">
                        <input type="hidden" name="Lsum" :value="Lsum">
                    </p>
                </div>
            </form>
            </p>
        </section>
        <!-- 購物車 End -->

        <!-- 熱銷推薦 Start -->
        <section id="Chart">
            <h1><i class="bi bi-bar-chart-line"></i>熱銷推薦</h1>
            <canvas id="myChart" width='230' height='230'></canvas>
        </section>
        <!-- 熱銷推薦 End -->

        <!-- 資訊列 Start -->
        <section id="services">
            <h1><i class="bi bi-book-fill"></i>餐盒小故事</h1>
            <div class="slide">
                <div class="slide-control">


                    <div class="slide-prev" @click="slide_id = slide_id == 0 ? 2 : slide_id - 1">
                        <span class="carousel-control-prev-icon"></span>
                    </div>
                    <div class="slide-next" @click="slide_id = slide_id == 2 ? 0 : slide_id + 1"><span
                            class="carousel-control-next-icon"></span></div>
                </div>
                <div class="slide-container">
                    <div class="slide-project"
                        :class="(index === slide_id && 'show') || ((index + 1) % 3 === slide_id && 'prev') || ((index + 2 ) % 3 === slide_id && 'next')"
                        v-for="i , index in slide">
                        <div class="slide-header">
                            <h2>{{i.title}}</h2>
                            <h3 :class="i.color">{{i.english}}</h3>
                        </div>
                        <div class="slide-body">
                            <div>{{i.content}}</div>
                        </div>
                        <!-- <div class="slide-footer">
                                <button class="btn" :class="i.class" @click="toggle(index)">{{i.btn}}</button>
                            </div> -->
                    </div>
                </div>
            </div>
        </section>
        <!-- 資訊列 End -->

        <!-- Main Content End -->
        <!-- footer Start -->
        <footer id="footer">
            <div class="footer-container">
                <h2 class="title">店家資訊</h2>
                <p>
                    服務選項: 內用 · 外帶 · 無接觸送餐服務<br>
                    地址： 242新北市新莊區中原東路61號<br>
                    電話： 02 2277 7833<br>
                    點餐: ubereats.com, foodpanda.com.tw<br>

                </p>
                <form action="index.html" method="get">
                    <div class="title">聯絡我們</div>
                    <br>
                    <p>
                    <h2 class="title">姓名*</h2>
                    <input type="text" v-model="userName" class="form-control" required name="username">
                    </p>
                    <p>
                    <h2 class="title">電子信箱*</h2>
                    <input type="email" v-model="userGmail" class="form-control" required name="usergmail">
                    </p>
                    <p>
                    <h2 class="title">留言*</h2>
                    <textarea v-model="usercontent" id="usercontent" rows="5" class="form-control" required name="usercontent"></textarea>
                    </p>
                    <p>
                        <input type="submit" @click="fs_footerSubmit" value="送出" class="btn btn-outline-light">
                        <input type="reset" value="重製" class="btn btn-outline-light" style="margin-left:10px;">
                    </p>
                </form>
            </div>
        </footer>


        <!-- footer End -->
        <!-- 更多資訊 Start -->
        <div class="modal fade" id="MoreNews_modal">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h2>更多資訊</h2>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                    </div>
                    <!-- Start -->
                    <div class="modal-body">
                        <div id="MoreNews">
                            <div v-for="data in datas" class="MoreNews_container" :id="data.id"
                                @click="fs_click_modalMoveTop(data.id)">
                                <img :src="data.img">
                            </div>
                            <div class="MoreNews_content" @click="fs_click_modalMoveTop('close')">
                                <h5>{{text_h}}</h5>
                                <div v-html="text_content"></div>
                            </div>
                        </div>
                    </div>
                    <!-- End -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-link" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- 更多資訊 End -->
    </div>

    <!-- script.js Start -->
    <script src="./js/script.js">

    </script>
    <!-- script.js End -->
    <!-- AOS Start -->
    <script>
        AOS.init({
            duration: 800,
        });
    </script>
    <!-- AOS End -->



</body>

</html>