* {
    padding: 0;
    margin: 0;
    font-family: 微軟正黑體 sans-serif;
    box-sizing: border-box;

}

.TopButton {
    position: fixed;
    width: 60px;
    height: 60px;
    border: 0px;
    border-radius: 50%;

    bottom: 50px;
    right: 50px;
    transform: rotate(90deg);

    background-image: url('./images/LeftRightButton.png');
    background-repeat: no-repeat;
    background-size: cover;
}

/* Nav Start */

.nav__class {
    width: 100%;
    min-height: 20px;
    position: fixed;
    padding: 1% 6%;
    color: #333;
    background-color: #fff;
    opacity: 0.8;
    display: flex;
    font-weight: bold;
    box-shadow: 1px 1px 10px 0 black;

}

.nav-left {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-left a {
    color: #333;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.7;
    transition: .5s all;

}

.nav-left a:hover {
    opacity: 0.95;
}


/* Nav End */


/* Main Content Start  */

.main {
    height: auto;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    background: #999;
    justify-content: center;
}

.main-article {
    padding: 100px;
    width: 70%;
    background-color: #666;
    color: #fff;
}

/* Main Content End  */

/* 跳出視窗內容 Start */

.box {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

}

.modal_section {
    position: relative;
    height: 130px;
}

.modal-dialog{
    box-shadow: 1px 1px 10px black;
}



.modal-body {
    overflow: hidden;
}

.modal_section img {
    border-radius: 10px;
}

.content {
    position: relative;
    display: none;

    top: -400px;
    width: 370px;
    height: 100vh;
    overflow: hidden;

    background-color: rgb(255, 243, 192);
    padding: 25px;
    margin-top: -10px;
    z-index: -1;
    opacity: 1;
}

.title {
    transform: scale(1.09);
    z-index: 3;
}

.DisplayBlock {
    display: block;
}

/* 跳出視窗內容 End */