#morphism {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 40px 0;
}

#morphism .box {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 30px;
    transition: 0.5s;
}

#morphism .box::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;


}

#morphism .box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 50px;
    width: 50%;
    height: 100%;
    background: #fff;
    border-radius: 8px;
    transform: skewX(15deg);
    transition: 0.5s;
    filter: blur(30px);
    transition: 0.5s;


}

#morphism .box:hover:before,
#morphism .box:hover:after {
    transform: skewX(0deg);
    left: 20px;
    width: calc(100% - 90px);

}

#morphism .box:nth-child(1):before,
#morphism .box:nth-child(1):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

#morphism .box:nth-child(2):before,
#morphism .box:nth-child(2):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

#morphism .box:nth-child(3):before,
#morphism .box:nth-child(3):after {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

#morphism .box:nth-child(4):before,
#morphism .box:nth-child(4):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

#morphism .box:nth-child(5):before,
#morphism .box:nth-child(5):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

#morphism .box:nth-child(6):before,
#morphism .box:nth-child(6):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}

#morphism .box:nth-child(7):before,
#morphism .box:nth-child(7):after {
    background: linear-gradient(315deg, #4dff03, #00d0ff);
}

#morphism .box:nth-child(8):before,
#morphism .box:nth-child(8):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}



#morphism .box:nth-child(9):before,
#morphism .box:nth-child(9):after {
    background: linear-gradient(315deg, #03a9f4, #ff0058);
}

#morphism .box:nth-child(10):before,
#morphism .box:nth-child(10):after {
    background: linear-gradient(315deg, #ffbc00, #ff0058);
}





#morphism .box span {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    pointer-events: none;
}

#morphism .box span::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    transition: 0.5s;
    opacity: 0;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
}

#morphism .box:hover span::before {
    top: -50px;
    left: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}




#morphism .box span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    opacity: 0;
    transition: 0.5s;
    animation: animate 2s ease-in-out infinite;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.05);
    animation-delay: -1s;
}

#morphism .box:hover span::after {
    bottom: -50px;
    right: 50px;
    width: 100px;
    height: 100px;
    opacity: 1;
}



@keyframes animate {

    0%,
    100% {
        transform: translateY(10px);
    }

    50% {
        transform: translateY(-10px);
    }
}

#morphism .box .content {
    position: relative;
    left: 0;
    padding: 20px 40px;
    background: rgba(255, 255, 255, 0.05);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    backdrop-filter: blur(10px);
    z-index: 1;
    transition: 0.5s;
    color: #fff;

}

#morphism .box:hover .content {
    left: -25px;
    padding: 40px 20px;

}

#morphism .box .content h2 {
    font-size: 1.5em;
    color: #fff;
    margin-bottom: 10px;
}

#morphism .box .content p {
    font-size: 1.2em;
    margin-bottom: 10px;
    line-height: 1em;
}